*
{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	font-family: consolas;
}
html
{
	font-size: 62.5%;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #6e18f3;
}
.container
{
	position: relative;
	width: 90rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container h2
{
	font-size: 5em;
	line-height: 1em;
	padding: 0.5rem 2rem;
}
.container h2.text1
{
	border-radius: 2rem;
	color: #fff;
	box-shadow: -0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.3),
	            0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
	            1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.container h2.text2
{
	color: #6e18f3;
	padding: 4rem;;
	filter: drop-shadow(-0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.3)) 
	        drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.2)) 
	        drop-shadow(1.5rem 1.5rem 1.5rem rgba(0,0,0, 0.2));
}
.container .box
{
	width: 70rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container .box .img1
{
	border-radius: 4rem;
	box-shadow: -0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.3),
	            0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.3),
	            1.5rem 1.5rem 1.5rem rgba(0,0,0, 0.3);
}
.container .box .img2
{
	filter: drop-shadow(-0.3rem -0.3rem 0.2rem rgba(255, 255, 255, 0.3)) 
	        drop-shadow(0.5rem 0.5rem 0.5rem rgba(0,0,0, 0.2)) 
	        drop-shadow(1.5rem 1.5rem 1.5rem rgba(0,0,0, 0.2));
}
@media(max-width:998px){
	html{
	font-size: 55%;
	}
}

@media(max-width:768px){
	html{
	font-size: 45%;
	}
}